<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML HomePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>

<body>
    <header class="header">


    </header>
    <main>
        <div class="intro">
            <h1>HomePage</h1>
            <p>Página Web Personal </p>
            <button>Aprender Más</button>
        </div>
        <div class="achievements">
            <div class="work">
                <i class="fas fa-atom"></i>
                <p class="work-heading">Proyectos</p>
                <p class="work-text">Yo he trabajado en varios proyectos, ahora estoy más centrado en la parte web.</p>
            </div>
            <div class="work">
                <i class="fas fa-skiing"></i>
                <p class="work-heading">Skills</p>
                <p class="work-text">En estos últimos años he adquirido una cantidad de habilidades que me facilitaran el trabajo en equipo.</p>
            </div>
            <div class="work">
                <i class="fas fa-ethernet"></i>
                <p class="work-heading">Network</p>
                <p class="work-text">Pienso trabajar de manera más remota, y que todos mis proyectos se puedan acceder de manera online.</p>
            </div>
        </div>
        <div class="about-me">
            <div class="about-me-text">
                <h2>About Me</h2>
                <p>Estoy estudiando la carrera de Tecnologías de la Información de la Facultad de Ingeniería Civil en la Universidad Técnica de Machala, actualmente curso el quinto semestre de la carrera y una de las asignaturas principales que tengo es
                    la de Tecnologías Web.</p>
            </div>
            <img src="https://github.com/Emix52Pro/Tarea-1.1-Mi-primera-pagina-web/blob/main/src/fotoperfil.JPG?raw=true" class="centerImage" alt="CH Logo" height="400" width="350">
        </div>
    </main>
    <footer class="footer">
        <div class="copy">&copy; 2023 Developer</div>
        <div class="bottom-links">
            <div class="links">
                <span>More Info</span>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="links">
                <span>Social Links</span>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/Emix52Pro" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>